@font-face {
  font-family: 'Humane_Regular';
  src: url('./assets/fonts/Humane-Regular.woff');
}

@font-face {
  font-family: 'Humane_Light';
  src: url('./assets/fonts/Humane-Light.woff');
}

@font-face {
  font-family: 'Humane_ExtraBold';
  src: url('./assets/fonts/Humane-ExtraBold.woff');
}

/* Font / Font-size / Color */
.h0 {
  font-size: 500px;
}

.h1 {
  font-size: 54px;
}

.h2 {
  font-size: 46px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 21px;
}

.nav_menu {
  font-size: 17px;
}

.nav_num {
  font-size: 10px;
}

.body_text {
  font-size: 20px;
  font-weight: 400;
}

.line_height {
  line-height: 140%;
}

.main {
  font-family: "darkmode-mono-off", sans-serif;
  font-style: normal;
  letter-spacing: -0.54px;
}

.main_light {
  font-family: "darkmode-mono-off", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.54px;
}

.main_italic {
  font-family: 'PPEditorialNew_Italic';
}

.main_lightitalic {
  font-family: 'PPEditorialNew_UltraItalic';
}

.title {
  font-family: 'Humane_ExtraBold';
  font-size: 16vw;
}

.title_text {
  font-family: 'Humane_Regular';
}

.body { 
  font-family: 'pretendard', sans-serif;
  color: #303030;
}

.bc_beige {
  background-color: #F0EBE5;
}

.bc_blue {
  background-color:#6D8EEB;
}

.bc_orange {
  background-color:#EB5B38;
}

.color_blue {
  color: #6D8EEB;
}

.color_green {
  color: #D4E32B;
}

.color_orange {
  color: #EB5B38;
}

.color_text {
  color: #5E5E5E;
}

.color_white {
  color: white;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* main css part */
html {
  overflow-x: hidden;
}

.project_a {
  color: white;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* cursor: none; */
  cursor: url('./assets/img/cursor.svg') 12 12, auto;
}

section > div {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* Nav Bar */
.NavBar {
  border-radius: 33px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0px 4px 4px 0px rgba(61, 61, 61, 0.10);
  backdrop-filter: blur(2px);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 45px;
  display: flex;
  align-items: center;
  gap: 46.25px;
  align-self: stretch;
  z-index: 100;
}

.nav_content {
  width: 24px;
  height: 24px;
}

.homeNav {
  background-image: url('/public/assets/navbar/home.svg');
}

.aboutNav {
  background-image: url('/public/assets/navbar/person.svg');
}

.workNav {
  background-image: url('/public/assets/navbar/folder.svg');
}

.archiveNav {
  background-image: url('/public/assets/navbar/archive.svg');
}

.contactNav {
  background-image: url('/public/assets/navbar/contact.svg');
}

.common {
  display: flex;
  align-items: flex-start;
  gap: 18.75px;
}

.common > a, .contact {
  display: flex;
  padding: 5px;
  transform: scale(1.2);
  justify-content: center;
  align-items: center;
}

.common > a:first-child:hover .homeNav{
  background-image: url('/public/assets/navbar/hover_home.svg');
}

.common > a:nth-child(2):hover .aboutNav{
  content: url('/public/assets/navbar/hover_person.svg');
}

.common > a:nth-child(3):hover .workNav{
  content: url('/public/assets/navbar/hover_folder.svg');
}

.common > a:nth-child(4):hover .archiveNav{
  content: url('/public/assets/navbar/hover_archive.svg');
}

.contact:hover > .contactNav {
  content: url('/public/assets/navbar/hover_contact.svg');
}

.tooltip {
  background-color: white;
  border-radius: 30px !important;
}

.link {
  position: fixed;
  padding: 0 45px;
  top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link_home {
  padding: 0;
}

.copyright_home {
  position: fixed;
  top: 45px;
  left: 40%;
  text-align: right;
  transform: translate(-40%, 0);
  font-size: 15px;
}

.copyright {
  text-align: right;
  font-size: 15px;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #555;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.loader {
  position: fixed;
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side at right,#fff 98%,#0000) 20% 50%/40% 80%,
    radial-gradient(farthest-side at left ,#fff 98%,#0000) 80% 50%/40% 80%,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10); 
  animation: l18 0.8s infinite alternate;
}

@keyframes l18 {
  0%,20% {background-position:20% 50%,80% 50%}
  100%   {background-position:80% 50%,20% 50%}
}

.loading-message {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}



/* home page */
.home {
  height: 100vh;
  padding: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home_left {
  width: 50%;
  float: left;
  text-align: right;
  box-sizing: border-box;
}

.home_right {
  height: 100%;
  width: 50%;
  float: right;
  box-sizing: border-box;
}

.home_box {
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
  white-space: nowrap;
}

.status {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  border: 3px solid #D4E32B;
  border-radius: 50px;
  padding: 6px 15px;
  text-decoration: none;
}

.point {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #D4E32B; 
  margin-right: 10px;
}

.status > div {
  color: #D4E32B;
  font-weight: 700;
}

.home_box_bold {
  text-align: right;
  margin-bottom: -40px;
  margin-right: 10px;
}

/* number table */
.number_table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;
}

.number_table > tr > td:first-child {
  padding-right: 15px;
}

.number_table > tr > td:nth-child(2) {
  padding-left: 15px;
  color: #5E5E5E;
}

.number_table > tr > td:nth-child(2) > span {
  color: #5D5BED;
}

.table_line {
  position: absolute;
  border-right: 1px solid #EB5B38;
  height: 100%;
  left: 30px;
}

/* About  */

.about, .work, .archive {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_profileImg {
  border-radius: 40px;
  overflow: hidden;
  width: 45%;
  height: 95%;
}

.about_profileImg > img {
  width: 100%;
  transform: scale(1.3);
}

.about_container {
  display: flex;
  padding: 45px;
}

.about_left, .about_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_right {
  flex-direction: column;
  padding-right: 130px;
  font-size: 17px;
}

.about_title {
  margin-bottom: 15px;
}

.about_content {
  margin-bottom: 60px;
}

.about_skills > .about_content {
  margin-bottom: 0;
}

.about_experience {
  width: 100%;
}

.about_experience > .about_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about_table {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #5E5E5E;
  align-items: center;
}

.about_table:last-of-type {
  border-bottom: 1px solid #5E5E5E;
}

.about_table > div {
  display: flex;
  align-items: center;
}

.company_icon {
  width: 25px;
  margin-right: 10px;
}

.about_table > div > td:nth-child(2) {
  padding-right: 30px;
}

.about_table_2 {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

.about_table_2 > td:first-child {
  width: 30%;
}

.about_table_2 > td:last-child {
  width: 70%;
}

/* Work */

.work_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
}

.work_preview {
  position: relative;
  font-size: 18px;
  width: 380px;
  margin-left: 90px;
}

.work_folderContent {
  position: relative;
  left: 60px;
}

.work_sectionDetail {
  position: relative;
  left: 15px;
  margin-top: 2px;
}

.work_folderName {
  margin-bottom: 30px;
}

.work_section {
  position: relative;
}

.work_section:not(:last-of-type) {
  margin-bottom: 60px;
}

.work_line {
  width: 35px;
  left: -40px;
  top: 12px;
  position: absolute;
  border-bottom: 1px solid #5E5E5E;
}

.work_line_1 {
  position: absolute;
  top: 12px;
  left: -25px;
  height: 24px;
  border-left: 1px solid #5E5E5E;
}

.work_line_2 {
  position: absolute;
  top: 12px;
  left: -25px;
  height: 48px;
  border-left: 1px solid #5E5E5E;
}

.work_line_d {
  position: absolute;
  top: 12px;
  left: -25px;
  border-left: 1px solid #5E5E5E;
}

.work_detail_line {
  width: 35px;
  left: -40px;
  top: 12px;
  position: absolute;
  border-bottom: 1px solid #5E5E5E;
}

.work_thumb {
  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #000000c1 100%);
  background-blend-mode: multiply;
}

.view_case {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  border: 1px solid white;
  transition: all 0.2s;
}

.view_case:hover {
  background-color: white;
  color: black;
}

.work_thumb > img {
  width: 100%;
}

.swiper-slide {
  display: flex !important; 
  height: 100vh;
}

/* Archive */

.archive_image {
  width: 500px;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 80px;
  transition: box-shadow .3s ease;
}

.archive_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.archive_image:hover {
  box-shadow: 0 4px 15px #0003;
}

/* Project */
.project_thumbnail {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
  height: 450px;
}

.project_thumbnail img {
  width: 100%;
}

.project_intro {
  margin-top: 100px;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
}

.project_subject {
  margin-bottom: 25px;
}

.project_content {
  margin-top: 40px;
  width: 55%;
  margin-left: auto;
}

.project_overview, .project_problem {
  width: 100%;
  padding: 0 300px;
  margin-top: 140px;
}

.overview_container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 30px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(2px);
  padding: 40px 0px;
}

.overview_container > div > div {
  line-height: 140%;
}

.overview_title {
  margin-bottom: 10px;
}

.content_left {
  background-color: #e0e0e0;
  border-radius: 20px 50px 50px 50px;
  margin-top: 20px;
  padding: 50px;
}

.content_right {
  background-color: #4d57fe;
  border-radius: 20px 50px 50px 50px;
  margin-top: 20px;
  padding: 50px;
}

.content_right > span, .content_right > p, .content_right p strong {
  color: #fff;
}

.problem_content {
  display: flex;
  gap: 30px;
}

.problem_table > span {
  font-weight: 700;
}

.project_body {
  margin-top: 150px;
  padding: 0 400px;
}

.body_title {
  margin-bottom: 25px;
}

.body_content {
  padding-right: 50px;
}

.observation_photo {
  margin-top: 80px;
}

.observation_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.observation_container > img {
  width: 49%;
}

.observation_container2 > img {
  width: 100%;
  margin-top: 40px;
}

.project_hmw {
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  margin-top: 150px;
  padding: 80px 0;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.50);
}

.body_imgs {
  margin-top: 50px;
}

.body_imgs > img {
  width: 100%;
  margin-top: 30px;
}

.project_table_bold {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin-left: 13px;
}

.project_table_left {
  display: flex;
}

.project_table_right {
  padding-left: 130px;
}

.project_table {
  margin: 40px 0;
  border-spacing: 0 40px;
  border-collapse: separate;
}

.project_deliver {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  max-width: 100vw;
  overflow-x: scroll;
  padding-bottom: 10px;
  scrollbar-width: none;
  width: 100%;
}

.project_deliver_container {
  display: flex;
  margin-top: 4vh;
  width: max-content;
}

.img_wrapper {
  display: inline-block;
  margin-right: 70px;
}

.img_wrapper > img {
  background-repeat: no-repeat;
  transition: transform .3s ease, box-shadow .3s ease;
  border-radius: 20px;
  width: 20vw;
}

.img_wrapper > img:hover {
  box-shadow: 0 4px 15px #0003;
  transform: scale(1.02);
}

.deliver_box {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 140%;
  font-size: 18px;
}

.deliver_box:not(:last-of-type) {
  margin-bottom: 80px;
}

.deliver_box > div:first-child {
  margin-right: 100px;
}

.deliver_desc  {
  margin-bottom: 15px;
}

.deliver_img {
  background-color: #1a1917;
  border-radius: 30px;
  display: flex;
  padding: .5vw;
  margin-left: auto;
}

.deliver_img > img {
  border-radius: 20px;
  width: 15vw;
}

.project_body:last-of-type {
  margin-bottom: 250px;
}

/* animation */
/* ----------------------------------------------
 * Generated by Animista on 2024-10-10 19:12:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes 
 tracking-in-expand {0%{letter-spacing:-.2em;opacity:0}40%{opacity:.6}100%{opacity:1}}
 
 @keyframes 
 tracking-in-expand {0%{letter-spacing:-.2em;opacity:0}40%{opacity:.6}100%{opacity:1}}

 @-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
 
 @keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}




 /* Responsive */

 /* Extra Large Screens */
@media (min-width: 2560px) { 
  #work {
    height: 145vh;
  }

  .info_title {
    font-size: 30vw;
  }

  .footer_content {
    padding: 0 210px;
  }

  .project_role_detail {
    font-size: 28px;
  }

  .project_detail_result {
    padding: 0 180px;
  }

  .deliver_container {
    padding: 0 150px;
  }
}

/* Medium screens */
@media (max-width: 1024px) {
  section > div {
    height: max-content;
  }

  #work, #info {
    margin-bottom: 50px;
  }

  #work {
    height: 210vh;
  }

  #archive {
    margin-top: 180px;
  }

  .h2 {
    font-size: 28px; 
  }

  .h3 {
    font-size: 21px;
  }

  .h4 {
    font-size: 20px;
  }

  .info_body {
    padding: 0 5vw;
  }

  .project_detail_info {
    margin-left: 0;
  }

  .project_content {
    padding: 20px;
  }

  /* nav */
  header {
    width: 100vw;
    padding: 20px;
  }

  .header_name {
    width: 60%;
    justify-content: center;
  }
  
  .header_right, nav {
    width: 20%;
  }

  /* first page */

  .first {
    flex-direction: column-reverse;
    align-items: normal;
    justify-content: normal;
    padding: 0 20px;
    margin-top: 80px;
  }

  .first_left {
    width: 100%;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
  }

  .first_left > div:nth-child(2) {
    width: 60%;
  }

  .first_left > div:first-child {
    display: flex;
    justify-content: center;
    width: 40%;
  }

  .first_right {
    width: 100%;
    padding: 0;
  }

  .first_table > div:nth-child(2)::before {
    content: "UI/UX Designer";
  }

  .first_arrow {
    transform: rotate(360deg);
    margin-left: 10px;
    font-size: 140px;
  }

  .first_table > div {
    padding: 15px 0px;
    white-space: nowrap;
  }

  .first_box {
    height: 70vh;
    margin-bottom: 2vh;
  }

  .first_box_bold {
    font-size: 180px;
    margin-bottom: -10px;
  }

  .status {
    font-size: 15px;
  }

  .point {
    width: 9px;
    height: 9px;
    margin-right: 8px;
  }

  /* banner */
  .banner {
    margin-top: 100px;
    font-size: 30vw;
    padding: 55px 0 40px 0;
  }

  /* work */
  .card > img {
    max-width: none;
    width: 85vw;
    height: 55vw;
  }

  /* info */
  .info_main {
    margin: 0;
  }

  .info_title {
    white-space: nowrap;
    font-size: 35vw;
  }

  .info_body {
    font-size: 16px;
  }

  .info_photo1 {
    transform: scale(0.9) translate(-60%, 0%);
  }

  .info_photo2 {
    transform: scale(0.9)  translate(60%, 10%);
  }

  .info1 {
    border-radius: 6px;
  }

  .info1 > img {
    border-radius: 6px;
  }

  .info2 {
    border-radius: 6px;
  }

  .info2 > img {
    border-radius: 6px;
  }


  /* archive */
  .archive {
    height: max-content;
  }


  .archive_banner {
    display: flex !important;
    top: -12vh;
    height: 5vh;
  }

  .archive_box {
    margin: 0;
  }

  .archive_title {
    font-size: 50vw;;
  }

  .archive_card {
    margin: 0;
    margin-bottom: 30px;
    width: 78vw;
    height: 48vw;
  }

  .archive_card > img {
    max-width: none;
    width: 75vw;
    height: 45vw;
  }

  .archive_sticky {
    display: none;
  }

  .archive_card_container {
    margin-bottom: 60px;
  }

  /* Footer */
  .footer {
    height: 100vh;
  }

  .footer_bottom::before {
    content: "Reach out!";
  }

  .footer_bottom {
    position: relative;
    font-size:  65vw;
    bottom: 0;
    white-space: nowrap;
  }

  .footer_content {
    padding: 0 20px;
    flex-direction: column;
  }

  .footer_left, .footer_right {
    width: 100%;
  }

  .footer_left {
    margin-bottom: 100px;
  }

  .footer_arrow {
    font-size: 30px;
  }

  /* Project */
  .project_info {
    flex-direction: column;
  }

  .project_info > div {
    width: 100%;
    margin-top: 25px;
  }

  .project_info_left {
    margin-top: 0;
  }

  .project_title {
    font-size: 250px;
    letter-spacing: 0;
    margin-top: 20px;
    margin-bottom: 0;
    display: inline-block;
  }

  .project_type {
    font-size: 28px;
  }

  .project_info_right {
    margin: 0;
  }

  .project_role_detail {
    margin-top: 20px;
    font-size: 16px;
  }

  .project_role_detail > div:first-child {
    width: 30%;
  }

  .project_info {
    width: auto;
  }

  .project_link > a:first-child {
    margin-right: 15px;
  }

  .project_link > a > img {
    width: 35px;
  }

  .previous_button::before {
    content: "";
  }

  .project_nav {
    padding: 15px 20px;
  }

  .project_button {
    padding: 5.5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project_button > img {
    margin: 0;
    width: 24px;
  }  

  .project_type {
    margin-bottom: 25px;
  }

  .project_info_right > div:first-child {
    margin-bottom: 30px;
  }

  .project_arrow_up {
    font-size: 20px;
  }

  .fa-github {
    font-size: 25px;
  }

  .project_role_detail > div:first-child {
    width: 50%;
  } 

  .project_role_detail > div:nth-child(2) {
    width: 50%;
    margin: 0;
    text-align: right;
  }
  
  .project_detail {
    padding: 5vh 0;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  .project_overview {
    padding: 10vh 0;
  }

  .project_detail > div:not(:nth-child(3)) {
    padding: 0 120px;
  }

  .project_detail_title {
    font-size: 15vw;
  }
  
  .deliver_desc > span {
    font-size: 35px;
  }

  .project_detail_sub, .project_detail_desc {
    font-size: 16px;
  }

  .project_overview > div:first-child {
    margin-bottom: 0;
  }

  .project_detail_desc:nth-child(:last-child) {
    margin-bottom: 60px;
  }

  .img_wrapper > img {
    width: 70vw;
  }

  .pawlert_img > img {
    width: 35vw;
  }

  .project_img_container {
    margin: 50px 0 100px 0;
  }

  .project_footer {
    height: 50vh;
  }

  .footer_left {
    margin-bottom: 50px;
  }

  .ui_title {
    font-size: 190px;
  }

  .ui_left {
    margin-right: 0;
  }

  .instagram_img {
    display: none;
  }

  .ui_banner {
    margin: 2vh 0;
  }

  /* .project_problem {
    margin-top: 60px;
  } */

  .problem_table {
    border-radius: 10px 30px 30px 30px;
  }

  .diagram {
    margin-top: 0;
    padding: 0 120px;
  }

  .competitor {
    padding: 0 120px;
  }

  .project_develop > img {
    padding: 0 120px;
  }

  .swiper-container {
    padding: 0 120px;
  }

  .deliver_img {
    padding: 0.8vw;
  }

  .result_title {
    font-size: 30px;
  }

  .project_detail_result {
    padding: 0 120px;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .main_nav {
    display: none !important;
  }

  .mobile_nav {
    display: flex;
  }

  .card_tag {
    display: none;
  }

  .card_desc {
    display: none;
  }

  .card_circle {
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
  }

  .hover_work {
    border-radius: 15px;
    padding: 20px;
  }

  .card_title {
    font-size: 40vw;
    margin-bottom: -20px;
  }

  .card > img {
    border-radius: 15px;
    width: 90vw;
    height: 60vw;
  }


  .info_title::before {
    font-size: 90vw;
    content: "JAINE!";
    position: relative;
    bottom: -30px;
  }

 .info_photo1 {
    transform: scale(1.6) translate(-29%, 42%);
  }

  .info_photo2 {
    transform: scale(1.6) translate(30%, 110%);
  }

  .archive_card {
    width: 90vw;
    height: 60vw;
    margin-bottom: 0;
  }

  .archive_card > img {
    width: 87vw;
    height: 57vw;
  }

  .project_detail_title {
    font-size: 30vw;
  }

  .project_detail > div:not(:nth-child(3)) {
    padding: 0 30px;
  }

  .img_wrapper > img {
    width: 60vh;
  }

  .pawlert_img > img {
    width: 50vw;
  }

  .diagram {
    margin-top: 0;
    padding: 0 30px;
  }

  .competitor {
    padding: 0 30px;
  }

  .project_develop > img {
    padding: 0 30px;
  }

  .swiper-container {
    padding: 0 30px;
  }
  
  .project_detail_result  {
    padding: 0 30px;
  }

  .ui_info {
    flex-direction: column;
  }

  .problem_table {
    width: 100%;
  }

  .problem_table:first-child, .problem_table:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  .discover_table {
    width: 100%;
  }

  .discover_table:first-child, .discover_table:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  .discover_table:first-child {
    margin-bottom: 20px;
  }

  .project_hmw {
    font-size: 20px;
  }

  .userFlow {
    margin-bottom: 0;
  }

  .swiper-container {
    margin-top: 40px;
  }

  .deliver_desc {
    padding-right: 0;
  }

  .deliver_box {
    flex-direction: column-reverse;
  }

  .deliver_img {
    padding: 1.8vw;
    margin-bottom: 40px;
  }

  .deliver_img > img {
    width: 50vw;
  }

  .project_ui {
    margin-top: 100px;
  }

  .project_footer {
    margin-top: 140px;
  }

  .project_problem {
    margin: 0;
    margin-bottom: 120px;
  }

  .diagram {
    margin-bottom: 120px;
  }

  .project_detail_result {
    margin-top: 50px;
  }

  .project_hmw {
    margin-top: 100px;
  }

  .deliver_desc > span {
    font-size: 30px;
  }

  .result_title {
    font-size: 25px;
  }

  .project_detail_title {
    font-size: 25vw;
  }

  .define_title::before {
    content: "For everyone!";
  }

  .deliver_desc {
    padding: 0 100px;
  }
}

@media (max-width: 425px) {
  #work {
    height: 135vh;
  }

  .pawlert_img > img {
    width: 60vw;
  }

  .project_detail_title {
    font-size: 40vw;
  }

  .project_overview > div:first-child {
    margin-bottom: 20px;
  }

  .insta_title::before {
    content: "Whassup?";
  }

  .identify_title::before {
    content: "The Issue?";
  }

  .discover_title::before {
    content: "Dive In!";
  }

  .define_title::before {
    content: "For All!";
  }

  .develop_title::before {
    content: "Let's Build!";
  }

  .deliver_title::before{
    content: "The Features";
  }

  .reflection_title::before {
    content: "Look Back";
  }  

  .deliver_desc {
    padding: 0 20px;
  }
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: transform 0.1s ease;
  transform: translate(-50%, -50%);
}


.swiper-pagination-bullet {
  background: #5E5E5E !important; 
  transition: all 0.3s ease;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #22C182 !important; 
}

.swiper-button-prev {
  margin-left: 100px;
  color: #5E5E5E !important;
  box-sizing: border-box;
  padding: 38px;
  width: 30px !important;
  height: 30px !important;
  background-color: #ffffff94;
  border-radius: 50%;
  border: 1px solid white;
  transform: scale(0.5);
  user-select: none;
}

.swiper-button-next {
  margin-right: 100px;
  color: #5E5E5E !important;
  box-sizing: border-box;
  padding: 38px;
  width: 30px !important;
  height: 30px !important;
  background-color: #ffffff94;
  border-radius: 50%;
  border: 1px solid white;
  transform: scale(0.5);
  user-select: none;
}

